# Data Collection
Permasalahan yang sering ditemui saat ingin mencari data adalah data tersebut berbentuk pdf dimana data tidak jarang memaksa kita untuk input data secara manual. Hal ini tentu membutuhkan banyak waktu dan tenaga. Oleh karena itu, akan dijelaskan bagaimana cara menconvert data dari pdf ke dalam format excel dan documents.

## Connect Gdrive kedalam Colab

In [ ]:
# Mengakses google drive ke dalam google colaboratory
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

## Import Packages/Library

Dalam modul ini, akan dijelaskan untuk convert data dengan library yang terdapat dalam python.

*   Tabula Documentation: https://tabula-py.readthedocs.io/en/latest/
*   pdf2docx converter Documentation: https://dothinking.github.io/pdf2docx/index.html

akan tetapi ke-2 library yang akan digunakan bukan merupakan bawaan notebook, oleh karena itu diperlukan install library secara independent. Berikut caranya:

In [ ]:
# Install library tabula untuk convert pdf to excel (read tables in pdf into DataFrame)
!pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/cf/29/d6cb0d77ef46d84d35cffa09cf42c73b373aea664d28604eab6818f8a47c/tabula_py-2.2.0-py3-none-any.whl (11.7MB)
     |████████████████████████████████| 11.7MB 2.8MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Collecting distro
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.5.0 tabula-py-2.2.0

In [ ]:
# Install library pdf2docx untuk convert pdf to document
!pip install pdf2docx

Collecting pdf2docx
  Downloading https://files.pythonhosted.org/packages/43/33/487af588dfcfa3ea5cceee74856d6775ff922b63721e25654c19daa107e8/pdf2docx-0.5.1-py3-none-any.whl (108kB)
     |████████████████████████████████| 112kB 4.0MB/s
Collecting PyMuPDF>=1.18.5
  Downloading https://files.pythonhosted.org/packages/bf/e8/bfd971ed4515fcdc0f7eec374a515f4608b141c62a0fb6949ad8425fb80b/PyMuPDF-1.18.13-cp37-cp37m-manylinux2010_x86_64.whl (6.4MB)
     |████████████████████████████████| 6.4MB 16.9MB/s
Collecting python-docx>=0.8.10
  Downloading https://files.pythonhosted.org/packages/8b/a0/52729ce4aa026f31b74cc877be1d11e4ddeaa361dc7aebec148171644b33/python-docx-0.8.11.tar.gz (5.6MB)
     |████████████████████████████████| 5.6MB 26.1MB/s
Collecting fire>=0.3.0
  Downloading https://files.pythonhosted.org/packages/11/07/a119a1aa04d37bc819940d95ed7e135a7dcca1c098123a3764a6dcace9e7/fire-0.4.0.tar.gz (87kB)
     |████████████████████████████████| 92kB 11.0MB/s
Requirement already satisfied: lxml>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from python-docx>=0.8.10->pdf2docx) (4.2.6)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from fire>=0.3.0->pdf2docx) (1.15.0)
Requirement already satisfied: termcolor in /usr/local/lib/python3.7/dist-packages (from fire>=0.3.0->pdf2docx) (1.1.0)
Building wheels for collected packages: python-docx, fire
  Building wheel for python-docx (setup.py) ... done
  Created wheel for python-docx: filename=python_docx-0.8.11-cp37-none-any.whl size=184602 sha256=cbbbebf31431d16a2dd78e88e84fd98717780e5a136068936ebf03d0db618564
  Stored in directory: /root/.cache/pip/wheels/a6/90/f1/a7cb70b38633ae04e7fb963b1c70f63fd6fc01c075b8230adc
  Building wheel for fire (setup.py) ... done
  Created wheel for fire: filename=fire-0.4.0-py2.py3-none-any.whl size=115928 sha256=344c32b6d1a2f01fc52dbd6ee057499885ba1af8af9ba14e9c0d4304f2f3d91e
  Stored in directory: /root/.cache/pip/wheels/af/19/30/1ea0cad502dcb4e66ed5a690279628c827aea38bbbab75d5ed
Successfully built python-docx fire
Installing collected packages: PyMuPDF, python-docx, fire, pdf2docx
Successfully installed PyMuPDF-1.18.13 fire-0.4.0 pdf2docx-0.5.1 python-docx-0.8.11

In [ ]:
# Import Package/Library
import os
import tabula
from pdf2docx import Converter

In [ ]:
# Inisiasi directory tempat data akan dibaca dan disimpan
path = "gdrive/MyDrive/learn-py/narasiodata/day1-pdaib/"

In [ ]:
# Cek directory untuk memastikan data tersimpan di dalamnya
os.listdir(path)

['Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf',
 'data description.txt',
 'OnlineRetail.xlsx',
 'OnlineRetail.csv']

## Convert Pdf to .xlsx and .csv format

Dalam mengconvert file pdf kedalam excel kita akan menggunakan module Tabula. Ada beberapa argument yang ditambahkan untuk membantu mengatur spesifikasi output yang diharapkan.

In [ ]:
# https://github.com/tabulapdf/tabula-java/issues/255

# Read PDF file
df = tabula.read_pdf(path + "Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf", pages = 'all' , lattice = True, multiple_tables=True)[0]
#pages=all, pages=1, tergantung kebutuhan #halaman yang ingin diconvert

Got stderr: May 26, 2021 11:25:42 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
May 26, 2021 11:25:42 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
May 26, 2021 11:25:42 PM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts
May 26, 2021 11:25:42 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font Symbol
May 26, 2021 11:25:42 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font LiberationSans for base font ZapfDingbats

In [ ]:
# Menampilkan 5 data teratas dari file
df.head()

  Kabupaten/Kota\rRegency/Municipality  ...             Unnamed: 0
0                                  NaN  ...  Belanja\rExpenditures
1                                  (1)  ...                    (3)
2                    Kabupaten/Regency  ...                    NaN
3                              Pacitan  ...   1 665 549 144 945,82
4                             Ponorogo  ...   2 322 805 767 564,09

[5 rows x 3 columns]

In [ ]:
df.shape

(43, 3)

Perhatikan tabel diatas, dalam penamaan nama kolom, formatnya masih kurang rapi, selain itu ada kolom-kolom yang masuk ke dalam baris.

In [ ]:
# Cleaning Data
df_clean = df.iloc[3:].reset_index(drop=True) #mengambil data dari baris index ke-3, dan mereset index agar mulai dari 0
df_clean.head()

  Kabupaten/Kota\rRegency/Municipality  ...            Unnamed: 0
0                              Pacitan  ...  1 665 549 144 945,82
1                             Ponorogo  ...  2 322 805 767 564,09
2                           Trenggalek  ...  1 946 046 774 834,78
3                          Tulungagung  ...  2 800 598 386 012,13
4                               Blitar  ...  2 456 663 058 142,18

[5 rows x 3 columns]

In [ ]:
df_clean.columns = [df.columns[0],df['2018'][0],df['Unnamed: 0'][0]] #rename nama kolom

In [ ]:
# Menampilkan 5 data teratas dari file
df_clean.head()

  Kabupaten/Kota\rRegency/Municipality  ... Belanja\rExpenditures
0                              Pacitan  ...  1 665 549 144 945,82
1                             Ponorogo  ...  2 322 805 767 564,09
2                           Trenggalek  ...  1 946 046 774 834,78
3                          Tulungagung  ...  2 800 598 386 012,13
4                               Blitar  ...  2 456 663 058 142,18

[5 rows x 3 columns]

In [ ]:
# Cleaning data columns
df_clean.columns = df_clean.columns.str.replace('\r', '/') # Mengganti "\r" menjadi garis miring
df_clean.head(35)

   Kabupaten/Kota/Regency/Municipality  ...  Belanja/Expenditures
0                              Pacitan  ...  1 665 549 144 945,82
1                             Ponorogo  ...  2 322 805 767 564,09
2                           Trenggalek  ...  1 946 046 774 834,78
3                          Tulungagung  ...  2 800 598 386 012,13
4                               Blitar  ...  2 456 663 058 142,18
5                               Kediri  ...  3 149 740 395 312,47
6                               Malang  ...  4 050 668 474 662,23
7                             Lumajang  ...  2 256 619 621 618,47
8                               Jember  ...  4 163 624 940 931,97
9                           Banyuwangi  ...  2 932 152 201 493,82
10                           Bondowoso  ...  2 171 884 322 387,31
11                           Situbondo  ...  1 849 288 303 240,09
12                         Probolinggo  ...  2 325 106 278 976,72
13                            Pasuruan  ...  3 376 868 296 332,53
14                            Sidoarjo  ...  5 005 097 845 031,35
15                           Mojokerto  ...  2 672 024 585 315,54
16                             Jombang  ...  2 832 829 111 562,94
17                             Nganjuk  ...  2 617 124 429 605,65
18                              Madiun  ...  1 812 000 389 361,00
19                             Magetan  ...  1 921 830 391 205,08
20                               Ngawi  ...  2 172 957 671 262,18
21                          Bojonegoro  ...  3 628 531 299 762,72
22                               Tuban  ...  2 596 899 799 569,44
23                            Lamongan  ...  2 950 680 611 024,51
24                              Gresik  ...  3 036 339 122 030,74
25                           Bangkalan  ...  2 260 903 470 049,51
26                             Sampang  ...  1 834 655 838 274,49
27                           Pamekasan  ...  2 138 127 562 564,00
28                             Sumenep  ...  2 486 861 383 624,00
29                   Kota/Municipality  ...                   NaN
30                              Kediri  ...  1 425 225 617 136,69
31                              Blitar  ...    972 204 365 136,51
32                              Malang  ...  2 360 831 551 277,57
33                         Probolinggo  ...    907 766 807 435,83
34                            Pasuruan  ...  1 006 333 411 941,04

[35 rows x 3 columns]

In [ ]:
# Cleaning Data Content
df_clean = df_clean.drop(labels=29, axis=0) #hapus baris index ke 29
df_clean['Pendapatan/Revenues'] = df_clean['Pendapatan/Revenues'].str.replace(" ","").str.replace(",",".") #hapus spasi dan ubah tanda koma
df_clean['Belanja/Expenditures'] = df_clean['Belanja/Expenditures'].str.replace(" ","").str.replace(",",".") #hapus spasi dan ubah tanda koma
df_clean.head()

  Kabupaten/Kota/Regency/Municipality Pendapatan/Revenues Belanja/Expenditures
0                             Pacitan    1615114387846.00     1665549144945.82
1                            Ponorogo    2280253624958.67     2322805767564.09
2                          Trenggalek    1783656956465.47     1946046774834.78
3                         Tulungagung    2584915681735.77     2800598386012.13
4                              Blitar    2361756636564.51     2456663058142.18

In [ ]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39 entries, 0 to 39
Data columns (total 3 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Kabupaten/Kota/Regency/Municipality  39 non-null     object
 1   Pendapatan/Revenues                  39 non-null     object
 2   Belanja/Expenditures                 39 non-null     object
dtypes: object(3)
memory usage: 1.2+ KB

In [ ]:
# dijadikan bentuk numerik (float) agar dapat di agregasi (sum,average,perhitungan matematik)
df_clean['Pendapatan/Revenues'] = df_clean['Pendapatan/Revenues'].astype(float)
df_clean['Belanja/Expenditures'] = df_clean['Belanja/Expenditures'].astype(float)

In [ ]:
df_clean.head()

  Kabupaten/Kota/Regency/Municipality  ...  Belanja/Expenditures
0                             Pacitan  ...          1.665549e+12
1                            Ponorogo  ...          2.322806e+12
2                          Trenggalek  ...          1.946047e+12
3                         Tulungagung  ...          2.800598e+12
4                              Blitar  ...          2.456663e+12

[5 rows x 3 columns]

In [ ]:
# convert DataFrame to .xlsx
df_clean.to_excel(path + 'convert_excel.xlsx', index=None) #tidak menyimpan inedx dari dataframe tersebut

In [ ]:
# convert DataFrame to .csv
df_clean.to_csv(path + 'convert_csv.csv', index=None) #tidak menyimpan inedx dari dataframe tersebut

## Convert Pdf to Docx

Dalam mengconvert file pdf kedalam document file kita akan menggunakan module pdf2docx. Untuk lebih jelasnya perhatikan code dibawah ini.

In [ ]:
# Pilih directory tempat file pdf tersimpan
pdf_file = path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf'

# Pilih directory tempat data docx akan tersimpan, dan masukkan nama file untuk file document
docx_file = path + 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.docx' #nama file bisa diganti

# Convert pdf to docx
cv = Converter(pdf_file)

# Proses pdf dan pilih halaman yang akan di convert
cv.convert(docx_file, start=0, end=None) #convert pdf halaman pertama
cv.close()

Parsing Page 1: 1/1...Ignore Line "Table2.4.3 Realisasi Pendapatan dan Belanja Pemerintah Provinsi" due to overlap
Ignore Line "Menurut Kabupaten/Kota di Provinsi Jawa Timur, 2018 dan" due to overlap

Creating Page 1: 1/1...
--------------------------------------------------
Terminated in 2.036556037000082s.

In [ ]:
# cek apakah dat aconvert sudah berhasil masuk ke dalam drive
os.listdir(path)

['Provinsi Jawa Timur Dalam Angka 2020-pages-85.pdf',
 'data description.txt',
 'OnlineRetail.xlsx',
 'OnlineRetail.csv',
 'convert_excel.xlsx',
 'convert_csv.csv',
 '.ipynb_checkpoints',
 'Provinsi Jawa Timur Dalam Angka 2020-pages-85.docx']